body {
  margin: 0;
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
  background-color: #020204;
  color: #08f223;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 25px;
  height: 80px;
  width: auto;
  min-width: 338px;
}

.main {
  border: 2px solid #085311;
  height: auto;
  min-width: 450px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

/*cards and content*/

.new-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  border: 2px solid #08f223;
}

#input-question {
  background-color: #000;
  border: 2px solid #08f223;
  color: #08f223;
  font-family: "space-mono", mono;
  width: 280px;
  max-width: 280px;
}

#input-question:focus {
  outline-color: #08f223;
}

#input-answer {
  background-color: #000;
  border: 2px solid #08f223;
  color: #08f223;
  font-family: "space-mono", mono;
  width: 280px;
  max-width: 280px;
}

#input-answer:focus {
  outline-color: #08f223;
}

.new-card-button {
  margin: 20px auto 20px;
  padding: 5px 30px;
  color: #08f223;
  border: 2px solid #08f223;
  background-color: #000;
  cursor: pointer;
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
}

.new-card-button:active {
  color: rgb(212, 53, 53);
}

/*footer & navbar*/

footer {
  display: flex;
  justify-items: center;
  min-width: 330px;
}

nav {
  /*position: fixed;*/
  background-color: #000;
  border-top: 2px solid #085311;
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: auto;
  bottom: 0;
}

.nav__link {
  padding: 5px 10px;
  margin: 12px;
  background-color: #000;
  border: 2px solid #085311;
  box-shadow: 0 0 4px 2px #08f223;
  color: #08f223;
  cursor: pointer;
  text-decoration: none;
}

.nav:active {
  color: rgb(212, 53, 53);
}

/* Profile page!!! */

/* Bookmark Page!! */

.main-bookmark {
  border: 2px solid #085311;
  height: auto;
  min-height: 700px;
  min-width: 450px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
