.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #08f223;
  box-shadow: 0 0 7px 2px;
  margin: 25px 0;
  width: 84%;
  height: auto;
  min-width: 420px;
}

.card__question {
  text-decoration: underline;
  text-decoration-color: #08f223;
  text-underline-offset: 2px;
}

.card__answer-button {
  margin: 10px;
  background-color: #000;
  color: #08f223;
  border: 2px solid #08f223;
  padding: 2px 3px;
  font-family: "space-mono", mono;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.card__answer {
  text-align: center;
  display: none;
}

.card__answer--visible {
  display: block;
  color: #08f223;
  font-size: 15px;
}

.card__answer-button:active {
  color: rgb(212, 53, 53);
}

img {
  background-color: #000;
  color: #000;
}
